body { 
  color: #036;
  font-family: 'Patrick Hand', cursive;
  font-size: 14px;
  background: #c1e8ea url(/assets/img/bg.jpg);
}
#container {
  position: relative;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.text {
  position: relative;
  width: 560px;
  height: 100%;
  color: rgb(0, 61, 64);
}

.text-bg {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(176, 209, 211);/*#032D57;#3A6691;*/
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgb(0, 61, 64);
  padding: 20px;
  font-family: 'Arizonia', cursive;
}

footer {
  background: rgb(176, 209, 211);
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 50px;
  box-shadow: -10px 0px 20px rgb(0, 61, 64);
}

.spacer { 
  height: 50px;
}

a img {
  transition: all 0.2s ease;
}

a:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

.schedule td {
  vertical-align: top;
}

.eye {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #000;
  cursor: default;
}

.error {
  box-shadow: 0px 0px 100px #F00;
  border: 1px solid #F00;
}